header {
  .heading-brown{
  background-color: beige;
  color: burlywood;
  padding: 12px;
  text-align: center;
}
}

h1{
  background-color: beige;
  color: burlywood;
}

section{
  margin: 12px;
  padding: 8px;
}